/* Base Application Styles */
*{
    box-sizing: border-box;
}

html,body,#page{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: #eeeeee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
    font-weight: 200;
    color: #3b414c;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.app{
    white-space: nowrap;
    height: 100%;
}

.list{
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    height: 100%;
    width: 33%;
    padding: 0 20px;
    overflow: auto;
}

.list:not(:last-child):after{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 1px;
    height: 99%;
    background: linear-gradient(to bottom,#eee 0%,#ccc 50%,#eee 100%) fixed;
}

.card{
    position: relative;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding: 10px 10px 10px 15px;
    margin: 0 0 10px 0;
    overflow: auto;
    border: 1px solid #e5e5df;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

.card_title{
    font-weight: bold;
    border-bottom: solid 5px transparent;
}

.card_title:before{
    font-family: "FontAwesome",sans-serif;
    display: inline-block;
    width: 1em;
    content: "\f054";
}

.card_title_is_open:before{
    font-family: "FontAwesome",sans-serif;
    margin-right: 5px;
    content: "\f078";
}

.checklist_task:first-child{
    margin-top: 10px;
    padding-top: 10px;
    border-top: dashed 1px #ddd;
}


.checklist_task .done{
    text-decoration: line-through;
}

.checklist_task_remove:after{
    font-family: "FontAwesome",sans-serif;
    display: inline-block;
    color: #d66;
    content: "\f00d";
    padding-left: 5px;
}

.checklist_add_task{
    border: 1px dashed #bbb;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

.card_details{
}

.toggle-enter,
.toggle-appear{
    max-height: 0;
    overflow: hidden;
}
.toggle-enter.toggle-enter-active,
.toggle-appear.toggle-appear-active{
    max-height: 300px;
    overflow: hidden;
    transition: max-height .25s ease-in;
}

.toggle-exit{
    max-height: 300px;
    overflow: hidden;
}

.toggle-exit.toggle-exit-active{
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-out;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0,0,0,0.6);
}

.card.big{
    position: absolute;
    width: 450px;
    height: 220px;
    margin: auto;
    padding: 15px;
    top: 0;
    left: 0;
    bottom: 100px;
    right: 0;
    z-index: 3;
}

.card.big input[type=text],textarea{
    width: 100%;
    margin: 3px 0;
    font-size: 13px;
    border:none;
}

.card.big input[type=text]{
    font-size: 20px;
    font-weight: bold;
}

.card.big input[type=text]:focus,
.card.big textarea:focus{
    outline: dashed thin #999;
    outline-offset: 2px;
}

.card.big label{
    margin: 3px 0 7px 3px;
    color:#a7a7a7;
    display: inline-block;
    width: 60px;
}

.actions{
    margin-top: 10px;
    text-align: right;
}

.card.big button{
    font-size: 14px;
    padding: 8px;
}

.card_edit{
    position:absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity .25s ease-in;
}

.card:hover .card_edit{
    opacity: 1;
}

.card_edit a{
    text-decoration: none;
    color: #999;
    font-size: 17px;
}

.float-button{
    position: absolute;
    height: 56px;
    width: 56px;
    z-index: 2;
    right: 20px;
    bottom: 20px;
    background: #d43a2f;
    color: white;
    border-radius: 100%;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}